@font-face {
    font-family: "techno_hideo";
    src: url(../fonts/techno_hideo.ttf);
}


body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
  
}


.welcome {
    position: absolute;
    top: 50%; /* Alinea el centro de la sección a la mitad de la ventana */
    left: 50%;
    transform: translate(-50%, -50%); /* Centra la sección horizontal y verticalmente */
    text-align: center;
}

.welcome h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "techno_hideo";
}

.welcome p {
    font-size: 18px;
    margin-bottom: 20px;
}

.boton {
    display: inline;
    background-color: #2091F9;
    color: rgb(253, 253, 253);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 100;
}


.video-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén uno encima del otro */
}

.video-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás de los demás elementos */
}


.main-content {
    flex: 1;
    padding-right: 50px;
    position: relative; /* Agrega esta propiedad */
    z-index: 1; /* Agrega esta propiedad para asegurarte de que el contenido esté por encima del video */
}

